<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<%= render 'shared/error_messages' %>

<!-- , :object => f.object -->

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>   

      		<%= render 'fields', f: f %>

      		<%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
    	<% end %>

		<%= gravatar_for @user %>
		<!-- target="_blank" means to open in a new window -->
    	<a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>